body {
	background-image:url('../img/bg.jpg');
	overflow: scroll;	
	background-size:cover;
	background-position: center center;
}

.container {
    display: table;
    width:100%;
	min-height:100%;
}

.content {
	padding:6px;
	border-color:#ccc;
	border-width:0px 1px 0px 1px;
	border-style:solid;
	width:690px;
	min-height:100%;
	background:#fff;
    display: table-cell;
    vertical-align: top;
    align:center;
}

.header {
	padding:12px;
}

.tab-content {
	padding:6px;
	min-height:530px;
}

.imageContainer div {
	display:none;
	position:absolute;
}

.stores {
	margin-top:12px;
}

.store-header {
	border-bottom:1px solid #eee;
	font-size:26px;
	background:#fff;
	color:#000;
	font-weight:bold;
}

.store-content {
	width:460px;
	margin-left:6px;
	margin-top:6px;
}


.space-around {
	display: flex;
	display: -webkit-box;
	display: -moz-box;

	justify-content:space-around;
	-webkit-justify-content:space-around;
	-moz-justify-content:space-around;
	-ms-justify-content:space-around;

  	flex-wrap:nowrap;
	-webkit-flex-wrap:nowrap;
	-moz-flex-wrap:nowrap;
	-ms-flex-wrap:nowrap;
}

.footer {
	border-top:1px solid #ccc;
	padding-top:12px;
}

.footer > div {
	padding:6px;
	-webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;

    -webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    flex: 1 1 auto; 
}

.clearfix {
  overflow: auto;
  zoom: 1;
  clear:both;
}